/* ------------------------------
   STARTOVACÍ OBRAZOVKA
-------------------------------*/
#start-screen {
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.mode-buttons {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

#start-screen button {
  background: #1b1b1b;
  color: #fff;
  border: 1px solid #444;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

#start-screen button:hover {
  transform: scale(1.1);
  background-color: #333;
}

.hidden { display: none; }

/* ------------------------------
   PŮVODNÍ STYL HRY
-------------------------------*/
body {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-family: monospace;
  padding: 40px;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: #d6d6d6;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 280px;
  background-color: #0f0f0f;
  padding: 10px;
}

#editor-code,
#editor-maze {
  flex: 1;
  font-family: monospace;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  color: #E2E2E2;
  background-color: #1b1b1b;
  border: none;
  outline: none;
  height: calc(100% - 60px);
}

button {
  align-self: center;
  width: 36px;
  height: 36px;
  background-image: url('Play.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

#grid-code, #grid-maze {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 0px solid #2c2c2c;
  width: 700px;
  height: 420px;
  background-color: #0f0f0f;
}

.cell {
  position: relative;
  background-image: url('grid.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#robot {
  width: 110%;
  height: 110%;
  background-image: url('KarelRobot.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10%;
  left: -10%;
  transition: all 0.3s;
  z-index: 10;
}

.beeper {
  position: center;
  width: 100%;
  height: 100%;
  bottom: 10%;
  right: 10%;
  background-image: url('Beeper.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}
